<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mapa de Pontos</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../assets/scripts/jquery.mask.min.js"></script>
  <script src="../assets/scripts/map.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfEffiJBNFoOGgsQFOs019dRN3Ft_3GR0&callback=initMap&v=weekly"
    defer></script>
</head>
<body>
  <header class="cabecalho">
    <nav class="cabecalho__menu">
      <a class="cabecalho__menu__link" href="./index.html">Maps</a>
      <a class="cabecalho__menu__link" href="./formulario.html">Formulário</a>
    </nav>
  </header>
  <h1>Mapa de Pontos</h1>
  <div class="container__maps">
    <div id="map"></div>
  </div>
</body>
</html>